body{
    background-color: rgb(228, 227, 227);
}
#signup{
    width: 31%;
    background-color: white;
    /* border: 1px solid red; */
    padding: 30px;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.logo_login{
    color: #b2014f;
    font-size: 45px;
    line-height: 80px;
    font-weight: bold;
}
#signup .loginsign{
    color: grey;
    font-size: 30px;
    font-weight: bold;
    margin-top: -10px;
}
#signup .loginsign1{
    color: grey;
    margin-top: -3px;
    margin-bottom: 4px;
    line-height: 18px;
}
#signup .loginsign2{
    color: grey;
    margin-top: -3px;
    margin-bottom: 30px;
    line-height: 18px;
}
.signup{
    text-align: center;
}
.signup > input{
    width: 100%;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 3%;
    border: 1px solid #902735;
    border-radius: 10px;
    border: 2px solid #902735!important;
}
#signup_btn{
  background-color: #902735;
  padding: 10px;
  font-size: 18px;
  color: white;
  margin-top: 5px;
  border: none;
  width: 38%;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}
/* .signup > div > button{
  
} */
#inst > p:nth-child(1){
    color: #333333;
    font-size: 18px;
}

#inst > p:nth-child(2){
    color: #333333;
    font-size: 12px;
}

@media (max-width: 952px){
    #signup{
        width: 50%;
    }
}
@media (max-width: 700px){
    #signup{
        width: 65%;
    }
}
@media (max-width: 500px){
    #signup{
        width: 80%;
    }
}